@charset "ISO-8859-1";

html, body {
	width: 100%;
	height: 100%;
	background-color: rgb(235, 253, 255);
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-color: rgb(251, 253, 221);
	background-color: rgb(252, 253, 232);
	position:relative;
}

:root {
	--w3blue: #2196F3;
	--fondo_muy_uscuro: #172B4D;
	--fondo_oscuro: #026aa7;
	--fondo_claro2: rgba(142, 210, 236, 0.767); 
	--fondo_intermedio: rgb(157, 210, 236); 
	--fondo_claro: rgb(115, 182, 238); 
	--fondo_muy_claro: #E4F0F6; 
	--ancho_reproductor1: 854px; 
	--alto_reproductor1: 480px; 
	--margen_autor1: 700px; 
	--ancho_reproductor2: 854px;
	--alto_reproductor2: 480px;
}

.mainWindow {
	width: 80%;
	margin-top: 20px;
	margin-left: 170px;
	color: var(--fondo_oscuro);
}

.titulo{
	font-size: 3.5em;
}
.subtitulo{
	font-size: 2em;
}

 #videosEnListaDiv{
 	margin-top: 4%;
 }




#login-form h1, #registro-form h1, #subir-video-form h2 {
	text-align: center;
	margin-bottom: 2%;
}
#login-form input, #registro-form input, #subir-video-form input {
	margin: 1%;
	margin-bottom: 3%;
}
#submit {
	width: 30%;
	margin-left: 35%;
	margin-right: 35%
}
#submitAlt {
	width: 40%;
	margin-left: 30%;
	margin-right: 30%
}
#login-form, #registro-form, #subir-video-form, #recuadroVideoDiv {
	padding: 5%;
	width: 80%;
	margin-block-end: 1%;
}

#recuadro_usuario, #perfilAutenticadosDiv, #dualMenuDiv, .comentariosDiv {
	margin: 1%;
	padding: 1%;
}

#cabeceraVideoDiv, #reproductorDiv, #datosVideoDiv {
	width: 100%;
}

#recuadro_lista, .datosVideoDiv, #recuadro_usuario {
	background-color: var(--fondo_muy_claro);
	padding: 2%;
	padding-bottom: 4%;
}
/*
.w3-btn{
	background-color:rgb(245, 248, 250); 
}*/

.cabeceraListaDiv {
	margin-bottom: 4%;
}

.detalle-titulo {
	font-size:  1.8em;
	color: var(--fondo_oscuro);
}

.labelDetalle {
	margin-rigth: 20%;
}

.detalle-titulo {
	margin-left: 2%;
	font-weight: bold;
}

.detalle-autor {
	margin-left: var(--margen_autor1);
	font-weight: bold;
	width: 40%;
}

.w3-btn {
	margin-right: 2%;
}

#mainLogo {
	margin-top:5px;
	margin-left: 5px;
	width: 130px;
	height: 65px;
	alt: "SeeDs Logo";

}

#mainLogoDiv {
	top: 0%;
	position: fixed;
	width: 140px;
	height: 60px;
	display: inline-block;
	width: 8%;
	height: 8%;
}

#user-menu { /* MENU SUPERIOR */
	top: 0%;
	position: fixed;
	left: 150px;
	display: inline-block;
	width: 100%;
	height: 35px;
	background-color: rgb(1, 122, 221);
	background-color:var(--w3blue);
	border: 1px solid black;
	width: 100%;
	border: 1px solid var(--fondo_claro);;
}
#spanUserName {
	display: inline-block;
	margin-left:2%;
	color: white;
	font-size:1.2em;
}
.userButton {
	margin: 5px;
	background-color: rgb(239, 248, 255);
	background-color: var(--fondo_muy_claro);
	height: 25px;
	margin-left: 3%;
	border: none;
	box-shadow: 1px 1px white;
	color: rgb(0, 58, 244);
}

#nav-menu { /* MENU LATERAL */
	position: fixed;
	top: 80px;
	left: 0%;
	width: 140px;
	height: 92%;
	background-color: rgb(1, 136, 247);
	background-color:var(--w3blue);
	border: 1px solid black;
	text-align: center;
	justify-content: center;
	text-justify: distribute;
	border: 2px solid var(--fondo_claro);
	z-index: 5;
}

.navButton {
	display: block;
	margin: 5px;
	padding: 5px;
	background-color: rgb(149, 199, 240);
	background-color: var(--fondo_intermedio);
	position: relative;
	left: 10px;
	width: 110px;
	margin-top: 15px;
	font-weight: bolder;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: rgb(0, 58, 244);
	color: rgb(18, 73, 155);
}
.navButton:hover, .userButton:hover {
box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}
#nav-menu a {
	text-decoration: none;
}

#confirmButton {
	background-color: red;
}




.hover:hover {
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)

}




.thumbDiv {
	background-color: rgb(33, 166, 243);
	/*background-color: var(--fondo_claro2);*/
	border: 2px solid var(--fondo_claro);
	padding: 10px;
	margin: 20px;
	width: 45%;
	height: 100px;
	display: inline-block;
	color: #172B4D;
	box-shadow:5px 5px rgb(128, 196, 252);
	background-color: var(--fondo_intermedio);
	color: #1961e3;
	font-size: 1.2em;
	overflow: hidden;
	position:relative;

}
.nombreThumb{
	position:relative;
	
}
.fechaThumb{
	position:relative;
	vertical-align: bottom;		
}
.dataThumb{
	display: inline;
	position:relative;
	width: 50%;

}
.icoThumb{
	vertical-align: top;		
	display: inline;
	position: absolute;
	float: right;
	bottom: 2px;
	right:2px;


	
}

.comentario {
	background-color: rgb(149, 199, 240);
	background-color: var( --fondo_muy_claro);
	border: 1px solid #7fc8f1;
	padding: 10px;
	margin: 20px;
}



.a_sinsub {
	text-decoration: none;
}

.flagsDiv {
	position: relative;
	left: 90%;
	right: 0px;
	top: 5%;
	width: 32px;
	height: 70px;
}

.flag {
	position: relative;
	right: 0px;
}

.edicionSpan {
	margin-left: 20%;
}

.editarCampoDiv {
	width: 30%;
}






#buscador-form {
	background-color: rgb(149, 199, 240);
	background-color: var(--fondo_intermedio);
	border: 1px solid #026aa7;
	padding: 2%;
	margin: 10px;
	display: inline-block;
	color: #172B4D;
	background-color:var(--w3blue);
	color: white;
	font-size: 1.1em;
	border: 2px solid var(--fondo_claro);
}
#buscarButton {
	padding:8px 16px;vertical-align:middle;
	overflow:hidden;
	text-decoration:none;color:var(--fondo_oscuro);
	background-color: var(--fondo_muy_claro);
	cursor:pointer;white-space:nowrap;
	color:  rgb(32, 51, 85);
	font-size: 1.1em;
}



.inline-block{
	display: inline-block;
}

button:hover {
	cursor: pointer;
}

input, select{
	background-color: var(--fondo_muy_claro);
	background-color: rgb(255, 255, 255);
	border: 2px solid var(--fondo_claro);

}

video {
	width: var(--ancho_reproductor1);
	height: var(--alto_reproductor1);
}

#footer {
	vertical-align: center;

	width: 100%;
	background-color: rgba(142, 210, 236, 0.767);
	height: 35px;
	color: rgb(30, 55, 97);
	/*float: bottom;*/
	
	  
position: fixed;
   bottom:-0px;
	
}